<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/q/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/q/css/style.css">
    <title>旅行博客-分类</title>
    <script src="/static/q/js/tailwindcss.js"></script>
</head>

<body>
    <main>
        <section class="lg:px-6 lg:pb-6">
            <div class="relative lg:rounded-lg h-screen-1/2 lg:min-h-144 overflow-hidden"><img alt="东京都台东区上野：东京国立博物馆、本馆"
                    loading="lazy" width="1920" height="640" decoding="async" data-nimg="1"
                    class="max-w-full object-cover w-full h-full" style="color:transparent"
                    srcset="https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75 1x, https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75 2x"
                    src="https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75">
                <p
                    class="absolute left-6 bottom-2 transform -translate-y-4 w-content p-1 m-0 bg-black bg-opacity-80 text-white text-xs leading-tight rounded-sm">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">盖蒂图片社/多林·金德斯利</font>
                    </font>
                </p>
                <div
                    class="z-10 absolute top-0 w-full h-full bg-gradient-to-b from-black/40 via-black/10 to-transparent">
                </div>
            </div>
        </section>
        <div class="container">
            <header class="lg:flex justify-between items-end my-8 lg:mt-12 lg:mb-20">
                <div class="lg:w-3/4">
                    <h1 class="inline text-3xl lg:text-6xl text-blue-400 font-semibold">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">东京国立博物馆</font>
                        </font><!-- -->
                    </h1>
                </div>
            </header>
            <hr class="container text-[#DBDBDB]">
            <div class="my-10 max-w-full mx-auto">
                <article class="my-8 lg:my-16">
                    <section class="lg:w-full styles_article-body___AqUn">
                        <div class="readMore_content__bv7mp relative overflow-hidden ">
                            <p>
                                <font style="vertical-align: inherit;"></font><a
                                    href="https://www.lonelyplanet.com/japan/tokyo">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">如果您在东京</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">只参观一座博物馆</font>
                                    <font style="vertical-align: inherit;">，那就选东京国立博物馆吧。</font>
                                    <font style="vertical-align: inherit;">在这里，您会发现世界上最大的日本艺术品收藏，包括古代陶器、佛教雕塑、武士刀、色彩缤纷的
                                    </font>
                                </font><em>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">浮世绘</font>
                                    </font>
                                </em>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">（木版画）、华丽的和服等等。</font>
                                </font>
                            </p>
                            <h2 class="h2style">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">参观博物馆</font>
                                </font>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">只有几个小时空闲时间的游客应该重点参观
                                        Honkan（日本画廊），该画廊在二楼有专门精选的艺术亮点。</font>
                                </font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">如果有更多时间，您可以探索迷人的</font>
                                </font><a
                                    href="https://www.lonelyplanet.com/japan/tokyo/attractions/gallery-of-horyu-ji-treasures/a/poi-sig/1357544/356817">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">法隆寺宝藏画廊</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">，其中展示了来自法隆寺（位于奈良县，可追溯至 607 年）的面具、卷轴和镀金佛像；
                                    </font>
                                    <font style="vertical-align: inherit;">东洋馆</font>
                                </font><a
                                    href="https://www.lonelyplanet.com/japan/tokyo/attractions/toyokan/a/poi-sig/1606882/356817">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">(Tōyōkan)</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">收藏有亚洲艺术品，其中包括精致的中国陶瓷；</font>
                                    <font style="vertical-align: inherit;">平</font>
                                </font><a class="poi"
                                    href="https://www.lonelyplanet.com/japan/tokyo/attractions/heiseikan/a/poi-sig/1357543/356817">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">成馆内</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">设有日本考古画廊，里面摆满了日本史前时期的陶器、护身符和日常生活用品。</font>
                                </font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">还值得检查一下在您访问期间是否可以进入通常禁止进入的花园，其中包括几家老式茶馆；
                                    </font>
                                    <font style="vertical-align: inherit;">它于三月中旬至四月中旬以及十月下旬至十二月初向公众开放。</font>
                                </font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">博物馆还设有餐厅、咖啡馆和咖啡厅，主楼还设有纪念品商店。</font>
                                </font>
                            </p>
                            <h2 class="h2style">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">历史</font>
                                </font>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">该博物馆于 1872 年举办了第一次展览，成为日本最古老的博物馆。</font>
                                    <font style="vertical-align: inherit;">1882年迁至&nbsp;</font>
                                </font><a
                                    href="https://www.lonelyplanet.com/japan/tokyo/attractions/ueno-koen/a/poi-sig/396175/356817">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">上野公园</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">现址。</font>
                                </font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;"></font><a
                                    href="https://www.lonelyplanet.com/japan/kansai/kyoto/attractions/kyoto-national-museum/a/poi-sig/402702/356698">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">如今，它是与京都国立博物馆</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">、</font>
                                </font><a
                                    href="https://www.lonelyplanet.com/japan/kansai/nara/attractions/nara-national-museum/a/poi-sig/488080/356700">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">奈良国立博物馆</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">和</font>
                                </font><a
                                    href="https://www.lonelyplanet.com/japan/kyushu/dazaifu/attractions/kyushu-national-museum/a/poi-sig/1233066/356715">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">九州国立博物馆</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">并列的国立文化遗产研究所运营的四大博物馆之一</font>
                                    <font style="vertical-align: inherit;">，被认为是世界上最大的艺术博物馆之一。</font>
                                </font>
                            </p>
                            <h2 class="h2style">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">门票及其他实用物品</font>
                                </font>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">成人入场费为1000日元，18岁以下、70岁以上免费。</font>
                                </font>
                            </p>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">博物馆定期举办临时展览（需额外收费）；</font>
                                    <font style="vertical-align: inherit;">这些可能很棒，但有时缺乏博物馆其他地方的英文标牌。</font>
                                </font>
                            </p>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </main>
</body>

</html>