
<footer id="docFooter">
    <section>
        <div class="container border-t border-black-200 pt-12 md:pb-4 lg:py-12">
            <div class="md:flex justify-between">
                <div class="md:w-1/4 flex-0 text-center md:text-left"><a href="/" class="no-underline"></a>
                    <nav class="mx-auto flex lg:flex-none justify-center lg:justify-normal">
                        <ul class="flex space-x-4 lg:space-x-2">
                            <li data-testid="Facebook"><a target="_blank" rel="noopener noreferrer"
                                    class="no-underline" href="https://www.facebook.com/lonelyplanet"></a></li>
                            <li data-testid="Instagram"><a target="_blank" rel="noopener noreferrer"
                                    class="no-underline" href="https://www.instagram.com/lonelyplanet/"></a></li>
                            <li data-testid="Twitter"><a target="_blank" rel="noopener noreferrer"
                                    class="no-underline" href="https://www.twitter.com/lonelyplanet"></a></li>
                            <li data-testid="YouTube"><a target="_blank" rel="noopener noreferrer"
                                    class="no-underline" href="https://www.youtube.com/lonelyplanet"></a></li>
                            <li data-testid="Pinterest"><a target="_blank" rel="noopener noreferrer"
                                    class="no-underline" href="https://www.pinterest.com/lonelyplanet/"></a></li>
                        </ul>
                    </nav>
                    <h3 class="mt-5 mb-4 text-sm font-semibold uppercase">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">成为会员</font>
                        </font>
                    </h3>
                    <h3 class="text-blue text-xl font-semibold max-w-xs font-display mb-6">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">加入孤独星球旅行者社区</font>
                        </font>
                    </h3><a href="./signup.html" class="btn btn-primary"><span class="sr-only">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">登录</font>
                            </font>
                        </span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">创建账户</font>
                        </font>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-black py-8">
        <div class="container flex flex-col-reverse md:flex-row justify-between items-center">
            <p class="text-sm text-white">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">© </font>
                </font><!-- -->
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">2024 </font>
                </font><!-- -->
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Lonely Planet，Red Ventures 旗下公司。</font>
                    <font style="vertical-align: inherit;">版权所有。</font>
                    <font style="vertical-align: inherit;">未经我们的书面许可，不得复制本网站的任何部分。</font>
                </font>
            </p>
        </div>
    </section>
</footer>