<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/q/layui/css/layui.css">
    <title>登录</title>
    <script src="/static/q/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/q/css/style.css">
    <title>旅行博客</title>
    <script src="/static/q/js/tailwindcss.js"></script>
</head>

<body class="bg-[#E0EEFA]">
    <img class="max-w-full max-h-[60px] pl-[100px] pt-[40px]"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Lonely_Planet.svg/2560px-Lonely_Planet.svg.png"
        alt="孤独星球">
    <div class="container flex max-w-[1472px] mx-auto mt-[-10vh]">
        <div class="flex flex-col text-center w-[70%] pr-[70px] mt-[8%] translate-x-[-2%]">
            <h1 style="font-size:calc(30px + 1vw)"
                class=" font-weight-bold line-height-[150%] text-left pl-[160px] pt-[180px] pb-[20px]">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">您的梦想之旅从孤独星球开始</font>
                </font>
            </h1>
            <p style="font-size:calc(10px + 1vw)" class="line-height-[150%] pl-[160px] text-left">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">《孤独星球》涵盖数百个目的地和无数体验，是您更好、更智能旅行的指南。</font>
                </font>
            </p>
        </div>
        <div class="prompt-wrapper">
            <main class="p-[80px] pt-[150px]">
                <section class="rounded-[16px] ">
                    <div class="bg-[#fff] rounded-[16px]">
                        <div class="c28e57d17">
                            <header class="pt-[15px] px-[25px] pb-[38px]">
                                <h1 class="text-[1.5rem] font-light text-[#121212] mx-[24px] my-[16px] text-center">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">欢迎来到孤独星球</font>
                                    </font>
                                </h1>


                                <div class="text-center text-[0.875rem] font-light">
                                    <p class="c3360ff4e c8fe48fda">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">登录到您的帐户</font>
                                        </font>
                                    </p>
                                </div>
                            </header>
                            <div class="text-[0.875rem] font-light px-[40px] pb-[30px]">
                                <form method="POST">
                                    <div id="ulp-container-form-content-start">
                                        <div class="ulp-field ">
                                            <input
                                                class="w-full h-[40px] border-[#c2c8d0] border-[1px] px-[10px] mb-[12px]"
                                                type="text" name="username" id="first-name" placeholder="输入您的用户名"
                                                required>
                                        </div>
                                    </div>

                                    <div id="ulp-container-form-content-start">
                                        <div class="ulp-field ">
                                            <input
                                                id="password"
                                                class="w-full h-[40px] border-[#c2c8d0] border-[1px] px-[10px] mb-[12px]"
                                                type="password" name="password" id="first-name" placeholder="输入您的密码"
                                                required>
                                        </div>
                                    </div>

                                    <div id="ulp-container-form-content-end ">
                                        <div class="ulp-field" id="terms-wrapper">
                                            <div class=" text-[12px] "><span>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">登录帐户即表示我同意孤独星球的
                                                        </font>
                                                    </font><a class="font-bold text-[#0057D9]"
                                                        href="https://www.lonelyplanet.com/legal/website-terms"
                                                        target="_blank" rel="noopener noreferrer">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">服务条款</font>
                                                        </font>
                                                    </a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">和</font>
                                                    </font><a class="font-bold text-[#0057D9]"
                                                        href="https://www.lonelyplanet.com/legal/privacy-policy"
                                                        target="_blank" rel="noopener noreferrer">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">隐私政策</font>
                                                        </font>
                                                    </a>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">。</font>
                                                    </font>
                                                </span></div>
                                        </div>
                                    </div>

                                    <div class="mt-[12px]">
                                        <a href="#" class="text-[#0057D9] text-[12px]">忘记密码？</a>
                                    </div>
                                    <div class="mt-[14px]">
                                        <button type="submit" name="action" value="default"
                                            class="bg-[#0057D9] text-white min-h-[46px] block w-full rounded-[9999px]"
                                            data-action-button-primary="true">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">继续</font>
                                            </font>
                                        </button>

                                    </div>
                                </form>
                                <div class="text-center">

                                    <p class="mt-[16px] text-[12px]">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">没有有帐户？前去
                                            </font>
                                        </font><a class="font-bold text-[#0057D9]" href="./signup.html" aria-label="">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">注册</font>
                                            </font>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </main>
            <script src="/static/q/layui/layui.js"></script>

            <script>
                layui.use('layer', function () {
                    var layer = layui.layer;
                    $('form').submit(function (event) {
                        var index = layer.load(3, {
                            shade: [0.1,'#fff'] //0.1透明度的白色背景
                        });
                        event.preventDefault();
                        // 获取表单数据
                        var formData = $(this).serialize();
                        // 发送AJAX请求
                        $.ajax({
                            url: 'http://'+window.location.host+'/api' + '/login/',
                            method: 'POST',
                            data: formData,
                            success: function (response) {
                                // 请求成功时的回调函数
                                console.log(response)
                                if (response.code == 200) {
                                    layer.msg(response.msg, { icon: 1 });
                                    window.location.href = './index.html';
                                    window.localStorage.setItem('password', $('#password').val())
                                    window.localStorage.setItem('token', response.data)
                                } else {
                                    layer.msg(response.msg, { icon: 2 });
                                }
                            },
                            error: function () {
                                // 请求失败时的回调函数
                                $('#result').text('请求失败，请检查网络连接！');
                            },
                            complete: function () {
                                layer.close(index);
                            }
                        });
                    });
                });
            </script>
</body>

</html>